:root {
    font-size: 62.5%;
}
body {
    margin: 0;
}
#content {
    width: 1080px;
    margin: 3rem auto;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.home-tab {
    font-size: 6.4rem;
    padding: .8rem 1.6rem;
}
.menu-tab, .contact-tab {
    font-size: 3.6rem;
    padding: .8rem 1.6rem;

}

.menu-tab:hover, .contact-tab:hover, .home-tab:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

.menu-tab:active, .contact-tab:active, .home-tab:active {
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: calc(1080px / 3);
}

.text {
    box-sizing: border-box;
    font-size: 2.2rem;
    line-height: 4.3rem;
    padding: 1.6rem 3.2rem;
    width: calc(1080px / 3);
}

.category {
    font-size: 1.8rem;
    width: calc(1080px / 3);
    box-sizing: border-box;
    align-self: start;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.category-name {
    padding: .8rem;
    font-weight: bold;
}

.items-wrapper {
    border-left: 3px solid black;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.menu-item-wrapper {
    display: flex;
    gap: 3.2rem;
    justify-content: space-between;
}
